.track-card {
    position: relative;
    margin: 0;
    display: flex;

    &__img-wrapper {
        display: block;
        background-color: $white-background;
        background-image: url("img/track-card/track-card-background.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90px;
    }
    &__img {
        display: block;
        margin: 0;
    }
    &__description {
        display: flex;
        box-sizing: border-box;
    }
    &__stat {
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }
    &__spec {
        font-size: $font-size-micro;
        font-weight: $font-weight-bold;
    }
    &__icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-position: center;
        &_duration {
            background-image: url("img/svg/duration.svg");
        }
        &_size {
            background-image: url("img/svg/memory.svg");
        }
        &_bitrate {
            background-image: url("img/svg/bitrate.svg");
        }
    }
    &__tags {
        display: flex;
    }
    &__controls {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__controls > * {
        margin-right: 12px;
        &:last-child {
            margin-right: 0px;
        }
    }
    &_section {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 143px;
        padding-right: 30px;
        box-sizing: border-box;
        border-radius: $border-radius-medium;
        background-color: $white-background;
        overflow: hidden;
    }

    &_section .track-card {
        &__img-wrapper {
            width: 261px;
            height: 143px;
        }
        &__img {
            width: auto;
            height: 143px;
        }
        &__description {
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
            padding: 30px;
        }
        &__description > * {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        &__stat {}
        &__spec {
            margin-right: 21px;
            &:last-child {
                margin-right: 0px;
            }
        }
        &__icon {}
        &__tags {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 400px;
            margin-bottom: -3px;
            margin-right: -3px;
        }
        &__tags > * {
            margin-bottom: 3px;
            margin-right: 3px;
        }
        &__controls {

        }
    }
}

@media #{$max-mobile-width} {
    .track-card {
        max-width: 312px;
        height: 170px;

        &_section {
            align-self: center;
            flex-direction: column;
            height: 230px;
            padding: 0;
            background-color: unset;
        }
    
        &_section .track-card {
            &__img-wrapper {
                width: 312px;
                height: 170px;
                border-radius: $border-radius-medium;
                overflow: hidden;
            }
            &__img {
                height: 101%;
                width: auto;
            }
            &__description {
                position: absolute;
                justify-content: flex-end;
                width: 100%;
                height: 170px;
                padding: 24px;
                border-radius: $border-radius-medium;
                background: $image-gradient-right;
            }
            &__description > * {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            &__stat {
                flex-direction: column;

            }
            &__spec {
                font-weight: $font-weight-bold;
                font-size: $font-size-nano;
                line-height: $font-line-height-nano;
                color: $font-color-light;
                margin-right: 0px;
                margin-bottom: 7px;
                &:last-child {
                    margin-right: 0px;
                    margin-bottom: 0px;
                }
            }
            &__icon {

            }
            &__tags {
                max-width: 100%;
            }
            &__controls {
                margin: 24px 0 0 0;
                justify-content: space-between;
            }
        }
    
        &__img-wrapper {}
        &__img {}
        &__description {}
        &__stat {}
        &__spec {}
        &__icon {}
        &__tags {}
        &__controls {}
    } 
}