/* Header
    ========================================================================== */
  
.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 360px;
    &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        background: $main-gradient;
        border-radius: $desktop-header-border-radius;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        width: 1116px; 
        height: 60px;
        box-sizing: border-box;
        
    }
    &__logo {}
}

@media #{$max-mobile-width} {
    .header {
        &__wrapper {
            justify-content: center;
        }
        &__content {
            justify-content: center;
        }
        &__logo {}
    }
}

