.tag {
    padding: 2px 7px;
    line-height: 13px;
    font-size: $font-size-nano;
    font-weight: $font-weight-medium;
    border: none;
    border-radius: 100px;;
    background-color: $tag-color;
    color: $font-color-light;
    cursor: pointer;
    &:hover {
    background-color: $tag-light-color;
    }
}

@media #{$max-mobile-width} {
    .tag {
        &:hover {}
    }
}

// может прикрутить состояние active для tab