/* Main-menu
========================================================================== */

.control {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 70px;
    height: 60px;
    padding: 0 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &__wrapper {
        margin: auto;
        width: 19px;
        height: 17px;
    }
}