.control-button {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 10px 24px;
    box-sizing: border-box;
    font-weight: $font-weight-medium;
    font-size: $font-line-height-micro;
    line-height: $font-line-height-normal;
    color: $font-color-light;
    white-space: nowrap;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    background: $main-gradient;
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(270deg, #3FDCB5 0%, #33B998 100%);
    }

    &__icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 6px;
        background-position: center;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        &_play {
            background-image: url("img/svg/play-inbutton-default.svg");
        }
        &_download {
            background-image: url("img/svg/download-inbutton-default.svg");
        }
    }
}

@media #{$max-mobile-width} {
    .control-button {
        font-size: 13px;
        line-height: 16px;
    
        &:hover {}
        &__icon {}
    }
}