@mixin no-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@mixin rewindControlPoint {
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    background-color: $player-progress-point-color;
    border-radius: 4px;
    cursor: pointer;
}

@mixin rewindControlTrack {
    height: 2px;
    background: $main-gradient;
    cursor: pointer;
}

@mixin buttonReset {
    border: none;
    background: transparent;
    padding: 0px;
    margin: 0px;
}