// general
$font-size-nano: 11px;
$font-size-micro: 12px;
$font-size-little: 15px; 
$font-size-medium: 20px; 
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-color-light: #FFFFFF;
$font-color-dark: #000000;
$font-color-grey: #696969;
$font-color-grey-light: #AEAEAE;
$font-color-light-green: #33B998;
$font-color-green: #33AD8F;
$font-line-height-nano: 13px;
$font-line-height-micro: 15px;
$font-line-height-normal: 18px;
$font-line-height-big: 24px;
$icon-light-grey: #AEAEAE;
$icon-light-green: #33B998;
$icon-green: #33AD8F;
$icon-dark: #000000;
$icon-grey: #E6E6E6;
$icon-white: #FFFFFF;
$border-light-green: #33B998;
$border-green: #33AD8F;
$border-lightest-grey: #FAFAFA;

$white: #FFFFFF;
$grey: #AEAEAE;
$white-background: #FFFFFF;
$grey-background: #FAFAFA;
$vignette-background: rgba(247, 247, 247, 0.8);
$main-gradient: linear-gradient(270deg, #3FDCB5 0%, #33B998 100%);
$svg-fill-main-gradient: url(#main-gradient);
$svg-fill-second-gradient: brightness(0.9);
$image-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 84.9%);
$image-gradient-right: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
$image-gradient-up: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);

$border-radius-large: 20px;
$border-radius-medium: 10px;
$border-radius-small: 5px;
$border-radius-top-medium: 10px 10px 0px 0px;
$border-grey: #F3F3F3;

// player
$player-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.03);
$player-progress-point-color: #3FDCB5;



$button-light: #FFFFFF;
$button-grey: #F3F3F3;
//$button-green:
$button-dark: #000000;

// card-list
$section-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03);




$mobile-main-menu-wrapper-box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.03);
//$mobile-main-menu-icon-active: #33B998; 
$mobile-main-menu-icon-hover: #33B998;
$mobile-main-menu-icon-focus: #33AD8F;
$desktop-search-icon-active: #C8FFF1;
$mobile-control-icon-active: #C8FFF1;

$menu-button-hover: #2AB995;
$menu-button-focus: #2AB995;
$menu-button-icon: #89F1D8;
$menu-button-icon-hover: #FFFFFF;
$menu-button-icon-focus: #89F1D8;
$menu-button-name: #FFFFFF;
$menu-button-name-hover: #FFFFFF;
$menu-button-name-focus: #89F1D8;

$search-border-color: #2AB995;
$search-button-reset: #1FA987;
$search-button-reset-active: #1B7861;
$search-button-submit: #FFFFFF;
// $search-button-submit-active: #C8FFF1; -> light-active
$search-input-text: #FFFFFF;
$search-input-text-placeholder: #89F1D8;



$desktop-header-border-radius: 0px 0px 20px 20px;

$reverse-main-gradient: linear-gradient(#e66465, #9198e5);

$tag-color: #33B998;
$tag-light-color: #3FDCB5;

$rating-icon: #FFB800;

// +15 px for chrome
$min-desktop-width: "(min-width: 1171px)";
$max-mobile-width: "(max-width: 1170px)";
$max-desktop-content-width: 1116px;