.error-page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    &__content {
        text-align: center;
        
    }
    &__header {
        display: inline-block;
        margin-bottom: 28px;
        padding-top: 72px;
        width: 250px;
        height: 227px;
        box-sizing: border-box;
        background-image: url("img/error-page/error-page-background.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__code {
        display: block;
        font-weight: $font-weight-semibold;
        font-size: 77px;
        line-height: 94px;
        color: $font-color-dark;
        text-align: center;
    }
    &__type {
        display: block;
        margin-top: -14px;
        font-weight: $font-weight-semibold;
        font-size: 23px;
        line-height: 28px;
        color: $font-color-dark;
        text-align: center;
    }
    &__title {
        margin-bottom: 20px;
        width: 250px;
        font-weight: $font-weight-regular;
        font-size: $font-size-little;
        line-height: $font-line-height-normal;
        color: $font-color-dark;
        text-align: center;
    }
    &__link {
        display: inline-block;
    }
}

@media #{$max-mobile-width} {
    .error-page {

        &__content {

            
        }
        &__header {
            width: 163px;
            margin-bottom: 16px;
            padding-top: 47px;
            height: 147px;
        }
        &__code {
            font-size: 50px;
            line-height: 61px;
        }
        &__type {
            margin-top: -9px;
            font-size: $font-size-little;
            line-height: $font-line-height-normal;
        }
        &__title {}
        &__link {}
    }
}