/* Fonts
========================================================================== */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
         url("fonts/Montserrat-Regular.woff")
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"),
         url("fonts/Montserrat-Medium.woff")
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local("Montserrat"),
         url("fonts/Montserrat-SemiBold.woff")
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat"),
         url("fonts/Montserrat-Bold.woff")
}

body {
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-style: normal; 
}
