.rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_contrast .rating {
        &__rate {
            color: $font-color-dark;
        }
    }

    &__icon {
        width: 12px;
        height: 12px;
        margin-right: 5px;
        background: url("img/svg/star.svg") no-repeat;
    }
    &__rate {
        font-size: $font-size-micro;
        font-weight: $font-weight-bold;
        line-height: 15px;
        color: $font-color-light;
        &_dark {
            color: $font-color-grey;
        }
    }
}

@media #{$max-mobile-width} {
    .rating {
        display: flex;
    
        &_contrast .rating {
            &__rate {
                color: $font-color-light;
            }
        }
    }
}