/* Search
========================================================================== */

.search {
    position: relative;
    display: flex;
    width: 350px;
    height: 60px;
    box-sizing: border-box;
    border-right: 1px solid $search-border-color;
    border-left: 1px solid $search-border-color;
    &__input {
        padding-left: 26px;
        color: $search-input-text;
        font-weight: 500;
        border: none;
        background-color: transparent;
        &::placeholder {
            color: $search-input-text-placeholder;
            font-weight: 500;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    &__button {
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;
        width: 32px;
        height: 32px;
        padding: 0px;
        font-size: 0px;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        &_reset {
            right: 54px;
            background-size: 13px 13px;
            background-image: url("img/svg/search-reset-default.svg");
            &:hover {
                background-image: url("img/svg/search-reset-hover.svg");
            }
        }
        &_submit {
            right: 19px;
            width: 32px;
            background-size: 18px 18px;
            background-image: url("img/svg/search-default.svg");
            &:hover {
                background-image: url("img/svg/search-hover.svg");
            }
        }
    }
}

@media #{$max-mobile-width} {
    .search {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        border: none;
        &__input {
            &::placeholder {
                color: $white;
            }
        }
        &__button {
            &_reset {}
            &_submit {}
        }
        &_opened {
            width: 100%;
            border-radius: $desktop-header-border-radius;
            background: $main-gradient;
        }
        &_opened .search__input {
            width: 100%;
            padding-right: 90px;
        }
    }


}
