/* Card-list
========================================================================== */
.card-list {
    width: 100%;
    max-width: 1116px;
    padding: 30px 0;
    border-radius: $border-radius-medium;
    box-shadow: $section-box-shadow;
    background-color: $white-background;
    overflow: hidden;

    &__title {
        margin-left: 30px;
        font-size: $font-size-medium;
        font-weight: $font-weight-semibold;
        line-height: 24px;
        color: $font-color-dark;
    }
    &__wrapper {
        margin: 20px 0 20px 0;
    }
    &__list {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0px;
        padding: 0;
        list-style: none;

        @include no-select;
    }
    &__item {
        position: relative;
        width: 150px;
        height: 150px;
        margin-right: 12px;
        background-color: $white-background;
        background-image: url("img/card-list/artist-background.svg");
        background-position: center;
        background-repeat: no-repeat;
        border-radius: $border-radius-medium;
        overflow: hidden;

        &:first-child {
            margin-left: 30px;
        }
        &:last-child {
            margin-right: 30px;
        }
    }
    &__link {
        display: inline-flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: $image-gradient;
        }
    }
    &__explore-link {
        display: inline-flex;
        margin-left: 30px;
        width: 100%;
        height: 100%;
        font-weight: $font-weight-medium;
        line-height: 18px;
        color: $font-color-light-green;
        text-decoration: none;
    }
    &__subtitle {
        position: absolute;
        bottom: 0;
        margin: 12px;
        font-size: $font-size-little;
        font-weight: $font-weight-medium;
        line-height: 18px;
        color: $font-color-light;
    }
    &__img-wrapper {
        width: 150px;
        height: 150px;
    }
    &__img {
        display: block;
        width: auto;
        height: 100%;
    }
}

@media #{$max-mobile-width} {
    .card-list {
        max-width: 312px;
        &__title {}
        &__wrapper {}
        &__list {

        }
        &__item {}
        &__link {
            &_visible {}
        }
        &__subtitle {}
        &__img {}
    } 
}
