.artist-card {
    width: 356px;
    height: 396px;
    box-sizing: border-box;
    border-radius: $border-radius-medium;
    box-shadow: $section-box-shadow;
    overflow: hidden;

    &:nth-child(3n + 3) {
        margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
        margin-bottom: 0px;
    }

    &_horizontal {
        max-width: 1116px;
        width: 100%;
        height: 143px;
    }

    &_horizontal .artist-card {
        &__header {
            display: flex;
            max-width: 100%;
            height: 100%;
        }

        &__description {
            position: relative;
            justify-content: center;
            padding: 24px 30px;
            background: $white;
        }

        &__tags {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 12px;
            height: auto;
        }

        &__img-wrapper {
            width: 261px;
            height: 143px;
            &::before {
                background: none;
            }
        }
        &__img {

        }
        


    }

    &_horizontal .tracks-amount__amount {
        color: $font-color-dark;
    }
    &_horizontal .rating__rate {
        color: $font-color-dark;
    }

    &__header {
        position: relative;
        margin: 0;
        height: 194px;
        overflow: hidden;
        // &::before {
        //     position: absolute;
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     background: $image-gradient;
        // }
    }
    &__track-list {
        border-radius: unset;
        box-shadow: unset;
    }
    &__img-wrapper {
        display: block;
        height: 194px;
        width: 356px;
        background-color: $white-background;
        background-image: url("img/card-list/artist-background.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90px;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: $image-gradient;
        }
    }
    &__img {
        display: block;
        width: auto;
        height: 100%;
        
    }

    &__description {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        display: flex;
        padding: 24px;
        width: 100%;
        max-width: 855px;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: space-between;
        flex-wrap: wrap;
    }
    &__description > * {
        margin-bottom: 3px;
        &:nth-last-child(-n + 2), &:nth-last-child(-n + 1) {
            margin-bottom: 0px;
        }
        
    }
    &__title {
        font-weight: $font-weight-semibold;
        font-size: $font-size-medium;
        line-height: 24px;
        color: $font-color-light;
    }
    &__tracks-amount {}
    &__rating {}
    &__tags {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-right: -3px;
        margin-bottom: -3px;
    }
    &__tags > * {
        margin-bottom: 3px;
        margin-right: 3px;
    }


}


@media #{$max-mobile-width} {
    .artist-card {
        width: 312px;
        height: 360px;
        margin-bottom: 12px;

        &:nth-last-child(-n + 3) {
            margin-bottom: 12px;
        }
        &:last-child {
            margin-bottom: 0px;
        }

        &_horizontal {
            height: 170px;
            margin-bottom: 0px;
        }
    
        &_horizontal .artist-card {
            &__header {
                
            }
    
            &__description {
                position: absolute;
                width: auto;
                padding: 24px;
                justify-content: flex-end;
                background: $image-gradient-right;
            }
    
            &__tags {

            }
    
            &__img-wrapper {
                width: 100%;
                height: 100%;
            }
        }
    
        &_horizontal .tracks-amount__amount {
            color: $font-color-light;
        }
        &_horizontal .rating__rate {
            color: $font-color-light;
        }

        &__header {
            height: 170px;
        }
        &__img-wrapper {
            min-width: 312px;
            height: 170px;
        }
        &__img {}
        &__description {}
        &__title {}
        &__tracks-amount {}
        &__rating {}
        &__tags {}
    
    }
}