/* Main-menu
========================================================================== */
.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-menu__wrapper {
    box-sizing: border-box;
}

.main-menu__content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.main-menu__icon {
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.main-menu__button {
    display: flex;
    padding: 21px 24px 21px 24px;
    border: none;
    background-color: transparent;
    background-repeat:no-repeat;
    background-position: left center;
    font-weight: $font-weight-medium;
    font-size: 15px;
    color: $menu-button-name;
    cursor: pointer;

    &:hover {
        background-color: $menu-button-hover;
    }
    &:hover .main-menu__icon {
        opacity: 1;
    }
    &:focus {
        background-color: $menu-button-focus;
        outline: none;
        box-shadow: none;
    }

    &_artists .main-menu__icon {
        background-image: url("img/svg/artist.svg");

    }

    &_genres .main-menu__icon {
        background-image: url("img/svg/genre.svg");

    }

    &_releases .main-menu__icon {
        background-image: url("img/svg/release.svg");

    }

    &_messages .main-menu__icon {
        background-image: url("img/svg/mail.svg");

    }

}

.main-menu__button .main-menu__icon {
    opacity: 0.5;
}

.main-menu__button_messages {
    font-size: 0px;
}

.main-menu__button_messages .main-menu__icon {
    margin-right: 0px;
}

.main-menu__icon {
    margin-right: 12px;

}

.main-menu__button-name {
    line-height: 18px;
    color: $menu-button-name;
}

@media #{$max-mobile-width} {
    .main-menu {
        position: absolute;
        top: 0px;
        left: 9px;
        &__mobile-menu {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $vignette-background;
        }
        &__wrapper {
            width: 100%;
            background-color: $vignette-background;
        }
        &__content {
            flex-direction: column;
            justify-content: flex-start;
            height: 100vh;
            width: 300px;
            padding-top: 80px;
            background-color: $white;
            box-shadow: $mobile-main-menu-wrapper-box-shadow;
        }

        &__button {
            height: 38px;
            padding: 10px 24px 10px 24px;
            font-weight: $font-weight-regular;

            &_messages {
                margin-top: auto;
                margin-bottom: 123px;
            }
            &_messages .main-menu__icon {
                margin-right: 7px;
                background-size: 13px 13px;
            }
        }
        &__icon {
            filter: brightness(40%);

            &_messages {
                margin-right: 8px;
            }
        }
        &__button-name {
            color: #000000;
            
            &_messages {
                font-size: $font-size-micro;
                color: $font-color-grey;
            }
        }
        &__control {
            position: absolute;
            display: block;
            width: 50px;
            height: 60px;
            border: none;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
        }
        &_closed .main-menu__control {
            background-image: url("img/svg/mobile-menu-default.svg");
        }
        &_opened .main-menu__control {
            background-image: url("img/svg/mobile-menu-close-default.svg");
        }
        &_closed:hover .main-menu__control {
            background-image: url("img/svg/mobile-menu-hover.svg");
        }
        &_opened:hover .main-menu__control {
            background-image: url("img/svg/mobile-menu-close-hover.svg");
        }

    }
}