.sort {
    display: flex;
    padding: 0 14px 0 0;
    &__button {
        position: relative;
        margin-right: 48px;
        padding: 0;
        font-weight: $font-weight-medium;
        font-size: 13px;
        line-height: 16px;
        color: $font-color-grey-light;
        background: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            color: $font-color-light-green;
        }

        &_active {
            color: $font-color-light-green;
        }

        &_asc .sort__icon {
            transform: scale(1, -1);
        }

        &_desc .sort_icon {
            transform: scale(1, 1)
        }
        &:last-child {
            margin-right: 0px;
        }
    }
    &__icon {
        position: absolute;
        top: 0px;
        right: -14px;
        bottom: 0px;
        margin: auto 0;
        width: 9px;
        height: 9px;
    }
}

#sort {
    &__popularity > .sort__icon {
        background: url("img/svg/sort-asc.svg") center no-repeat;
    }
    &__newest > .sort__icon {
        background: url("img/svg/sort-asc.svg") center no-repeat;
    }
    &__popularity:hover > .sort__icon {
        filter: brightness(85%);
    }
    &__newest:hover > .sort__icon {
        filter: brightness(85%);
    }

}

@media #{$max-mobile-width} {
    .sort {

        &__button {
            padding: 10px 0;

            &:focus {}
    
            &_active {}
    
            &_asc .sort__icon {}
    
            &_desc .sort_icon {}
        }
        &__icon {}
    }
}