.player {
    position: fixed;
    left: 50%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1116px;
    height: 70px;
    box-sizing: border-box;
    border-radius: $border-radius-top-medium;
    transform: translateX(-50%);

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: $white-background;
        border-radius: $border-radius-top-medium;
        box-shadow: $player-box-shadow;
    }

    &__timeline {
        position: relative;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: -2px;
        box-sizing: border-box;
        width: 100%;
        padding: 0px 23px;
        cursor: pointer;
    }
    &__control-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    &__buffer-track {
        position: absolute;
        box-sizing: border-box;
        height: 2px;
        width: 0%;
        max-width: 1070px;
        background: transparent;
    }
    &__progress-line {
        position: absolute;
        width: 100%;
        max-width: 1070px;
    }
    &__progress-point {
        margin-left: -4px;
        margin-top: -3px;
        @include rewindControlPoint;
    }
    &__progress-track-line {
        height: 6px;
    }
    &__progress-track {
        width: 0%; 
        @include rewindControlTrack;
    }
    &__play-controls {
        display: flex;
        width: 360px;
        justify-content: space-between;
        padding: 0 30px;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
    }
    &__play-controls .playControl {
        &__play {
            background-image: url("img/svg/pause-button-active-default.svg");
            &:hover {
                background-image: url("img/svg/pause-button-active-hover.svg");
            }
        }
        &__pause {
            background-image: url("img/svg/play-button-active-default.svg");
            &:hover {
                background-image: url("img/svg/play-button-active-hover.svg");
            }
        }
    }

    &__control {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 0;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        &_prev-track.player__control {

            background-image: url("img/svg/next-track-default.svg");
            transform: rotate(180deg);
            &:hover {
                background-image: url("img/svg/next-track-hover.svg");
            }

            &_inactive {
                background-image: url("img/svg/next-track-disabled.svg");
                transform: rotate(180deg);
                &:hover {
                    background-image: url("img/svg/next-track-disabled.svg");
                }
            }
        }
        &_next-track.player__control {
            background-image: url("img/svg/next-track-default.svg");
            &:hover {
                background-image: url("img/svg/next-track-hover.svg");
            }

            &_inactive {
                background-image: url("img/svg/next-track-disabled.svg");
                &:hover {
                    background-image: url("img/svg/next-track-disabled.svg");
                }
            }
        }
        &_tracklist {
            background-image: url("img/svg/playlist-default.svg");
            &:hover {
                background-image: url("img/svg/playlist-hover.svg");
            }
        }
        &_tracklist.player__control_inactive {
            cursor: default;
            background-image: url("img/svg/playlist-default.svg");
            &:hover {
                background-image: url("img/svg/playlist-default.svg");
            }
        }

        &_muted {
            background-image: url("img/svg/volume-off-default.svg");
            &:hover {
                filter: brightness(85%)
            }
        }
        // &_muted.
        &_low-volume {
            background-image: url("img/svg/volume-low-default.svg");
            &:hover {
                filter: brightness(85%)
            }
        }
        &_high-volume {
            background-image: url("img/svg/volume-full-default.svg");
            &:hover {
                filter: brightness(85%)
            }
        }

    }

    &__track-info {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 30px;
        box-sizing: border-box;
    }   
    &__track-title {
        max-width: 380px;
        box-sizing: border-box;
        font-weight: $font-weight-regular;
        font-size: $font-size-little;
        line-height: $font-line-height-normal;
        color: $font-color-dark;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
        
    &__track-subtitle {
        max-width: 380px;
        box-sizing: border-box;
        font-weight: $font-weight-regular;
        font-size: $font-size-micro;
        line-height: $font-line-height-micro;
        color: $font-color-grey;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__play-progress {
        flex-grow: 1;
        font-weight: $font-weight-medium;
        font-size: $font-size-micro;
        line-height: $font-line-height-micro;
        color: $font-color-grey;
        text-align: end;
        font-variant-numeric: tabular-nums;
    }
    &__current-progress {}
    &__total-duration {}
    &__volume-control {
        display: flex;
        align-items: center;
        width: 150px;
        height: 50px;
        padding: 0 30px;
    }
    &__volume-line {
        position: relative;
        display: flex;
        align-items: center;
        height: 8px;
        width: 100px;
        cursor: pointer;

        &:hover .player {
            &__volume-point {
                transition: background 100ms ease 0s;
                background: $player-progress-point-color;
            }
        }
        &:active .player {
            &__volume-point {
                transition: background 100ms ease 0s;
                background: $player-progress-point-color;
            }
        }
    }
    &__volume-track-line {
        width: 100%;
        height: 2px;
        background-color: #F3F3F3;
    }
    &__volume-track {
        @include rewindControlTrack;
        width: 30px;
    }
    &__volume-point {
        margin-left: -4px;
        @include rewindControlPoint;
        transition: background 100ms ease 0s;
        background: transparent;
    } 
}



@media #{$max-mobile-width} {
    .player {
        height: auto;
        border-radius: 0;

        &__wrapper {
            border-radius: unset;
        }
        &__timeline {
            padding: 0;
        }
        &__progress-line {
            padding: 0 8px 0 0;
            box-sizing: border-box;
        }
        &__progress-point {
            margin-left: 0;
        }
        &__play-controls {
            height: 70px;
            align-items: center;
        }
        &__control-wrapper {

        }
        &__track-info {
            order: -1;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }
        &__track-title {
            width: 312px;
            margin-top: 15px;
            &:empty {
                margin-top: 0;
            }
        }
        &__track-subtitle {
            width: 312px;
            margin-bottom: 5px;
            &:empty {
                margin-bottom: 0;
            }
        }
        &__play-progress {
            display: none;
        }
        &__volume-control {
            display: none;
        }
    }
}