/* Main
========================================================================== */
.main {
    position: relative;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    &__breadcrumbs {
        margin: 24px 0 0 0;
    }

    &__header {
        display: flex;
        flex-direction: row;
        margin-bottom: 22px;
        &_mb-nano {
            margin-bottom: 10px;
        }
        &_mb-micro {
            margin-bottom: 15px;
        }
        &_mb-mini {
            margin-bottom: 18px;
        }
        &_mb-normal {
            margin-bottom: 20px;
        }
        &_mb-large {
            margin-bottom: 22px;
        }
    }

    &__title {
        flex-grow: 1;
        font-weight: $font-weight-semibold;
        font-size: $font-size-medium;
        line-height: $font-line-height-big;
        color: $font-color-dark;
        &_large {
            display: block;
            width: 1116px;
            margin: 0;
            text-align: left;
            font-weight: $font-weight-semibold;
            font-size: 30px;
            line-height: 37px;
        }
    }
  
    &__item {
        display: flex;
        flex-direction: column;
        max-width: 1116px;
        margin: 24px 0 0 0;
        box-sizing: border-box;
        border-radius: $border-radius-medium;
        // box-shadow: $section-box-shadow;
        overflow: hidden;
        &_full-width {
            width: 100%;
        }
        &_container {
            padding: 30px;
            background-color: $white-background;
        }
        &_albom-card {
            box-shadow: $section-box-shadow;
        }
        &_track-card {
            box-shadow: $section-box-shadow;
        }
    }

    &__item-catalog {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        overflow: unset;
        &_boxed {
            padding: 30px;
            background-color: $white-background;
            border-radius: $border-radius-medium;
            box-shadow: $section-box-shadow;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: -24px;
    }
    &__grid > * {
        margin-right: 24px;
        margin-bottom: 24px;
    }
}

@media #{$max-mobile-width} {
    .main {
        padding: 0 24px;
        min-width: 360px;

        &__header {
            flex-direction: column;
            margin-bottom: 20px;
            border-bottom: 1px solid $border-grey;
            &_mb-normal {
                margin-bottom: 11px;
            }
            &_mb-large {
                margin-bottom: 20px;
            }
        }
        &__title {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 20px;
            &_large {
                width: 312px;
                margin-top: 7px;
                font-size: $font-size-medium;
                line-height: $font-line-height-big;
            }
        }
        &__item {
            margin: 10px 0 0 0;
            min-width: 312px;
            &_full-width {
                max-width: 312px;
            }
            &_albom-card {
                box-shadow: unset;
            }
            &_track-card {
                box-shadow: unset;
            }
        }
        &__item-catalog {
            &_boxed {
                max-width: 312px;
                padding: 24px;
            }
        }
        &__grid {
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: column;
            &_column {
                align-items: stretch;
                flex-direction: column;
            }
        }
    }
}
