/* Logo
========================================================================== */

.logo {
    display: block;
    width: 90px;
    background: url("img/svg/main-logo.svg") center no-repeat;
}

@media #{$max-mobile-width} {
    .logo {}

}