.music-button {
    margin-right: 12px;
    padding: 0;
    height: 34px;
    background: transparent;
    border: none;
    cursor: pointer;
    &_play {}
    &__icon {
        width: 34px;
        height: 34px;
        background-size: 34px;
    }
}

@media #{$max-mobile-width} {

}