.track-row {
    border-radius: $border-radius-small;

    &:hover {
        background-color: $grey-background;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 10px 14px;

    }
    &__control {}
    &__description {
        flex-grow: 1;
        flex-shrink: 1;
    }
    &__title {
        font-size: $font-size-little;
        font-weight: $font-weight-regular;
        line-height: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__subtitle {
        display: block;
        font-size: $font-size-micro;
        font-weight: $font-weight-regular;
        line-height: 15px;
        color: $font-color-grey;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__duration {
        margin-right: 17px;
        align-self: center;
        font-size: $font-size-micro;
        font-weight: $font-weight-medium;
        line-height: 15px;
        color: $font-color-grey;
    }
    &__download {
        align-self: center;
        width: 34px;
        height: 34px;
        text-decoration: none;
        text-align: center;
        background: url("img/svg/download-default.svg") center no-repeat;
        &:hover {
            background: url("img/svg/download-hover.svg") center no-repeat;
        }
    }
    &_short .track-row {
        &__title {
            width: 12em;
        }
        &__subtitle {
            width: 14em;
        }
    }
    &_long .track-row {
        &__title {
            width: 60em;
        }
        &__subtitle {
            width: 74em;
        }
    }
}

.track-row .playControl {
    &__play > .music-button__icon {
        background-image: url("img/svg/pause-button-active-default.svg");
    }    
    &__pause > .music-button__icon {
        background-image: url("img/svg/play-button-default.svg");
    }    
}

.track-row {
    &:hover .playControl__play > .music-button__icon {
        background-image: url("img/svg/pause-button-active-hover.svg");
    }
    &:hover .playControl__pause > .music-button__icon {
        background-image: url("img/svg/play-button-hover.svg");
    }
    &_active .playControl__pause > .music-button__icon {
        background-image: url("img/svg/play-button-active-default.svg");
    }
    &_active:hover .playControl__pause > .music-button__icon {
        background-image: url("img/svg/play-button-active-hover.svg");
    }
}

@media #{$max-mobile-width} {
    .track-row {
        &__wrapper {
            padding: 10px 8px;
        }
        &__control {
            &_play {}
        }
        &__description {}
        &__title {}
        &__subtitle {}
        &__duration {}
        &__download {}
        &__icon {}
        &_short .track-row {
            &__title {
                width: 10em;
            }
            &__subtitle {
                width: 12em;
            }
        }
        &_long .track-row {
            &__title {
                width: 10em;
            }
            &__subtitle {
                width: 12em;
            }
        }
    }

    .track-list_in-player .track-row {
        &:hover {
            background: transparent;
        }
        &__wrapper {
            padding: 10px 0;
        }
    }
}