.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    width: 1116px;
    list-style: none;
    flex-wrap: wrap;
    &__item {
        position: relative;
        margin-right: 13px;
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: -8px;
            margin: auto 0;
            width: 3px;
            height: 3px;
            border-radius: 2px;
            background-color: $icon-grey;
        }
        &:last-child {
            margin-right: unset;
            &::after {
                content: unset;
            }
        }
    }
    &__button {
        @include buttonReset;
        display: block;
        font-weight: $font-weight-medium;
        font-size: $font-size-micro;
        line-height: $font-line-height-micro;
        color: $font-color-light-green;
        cursor: pointer;
        &_active {
            color: $font-color-grey-light;
        }
    }
}

@media #{$max-mobile-width} {
    .breadcrumbs {
        width: 312px;
        margin: 20px 0 0 0;
    }
}