.track-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    max-width: 1116px;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    border-radius: $border-radius-medium;
    box-shadow: $section-box-shadow;
    background-color: $white-background;
    
    &_in-player {
        position: relative;
        padding-bottom: 123px;
    }
    &__title {
        margin:10px 30px 10px 30px;
        font-weight: $font-weight-semibold;
        line-height: 24px;
        font-size: $font-size-medium;
        align-self: flex-start;
    }
    &__list {
        //margin: 0 0 20px 0;
        margin: 0px;
        padding: 0;
        list-style: none;
    }
    &__footer-link {
        //margin: 0 0 10px 30px;
        margin: 20px 0 10px 14px;
        font-weight: $font-weight-medium;
        line-height: 18px;
        text-decoration: none;
        color: $font-color-light-green;
    }
}

@media #{$max-mobile-width} {
    .track-list {
        max-width: 312px;
        padding: 14px 10px 14px 10px;

        &_in-player {
            padding: 0;
            padding: 0 0 123px 0;
            align-items: center;
            background-color: $grey-background;
            box-shadow: none;
        }
        &_in-player .track-list {
            &__list {
                width: 360px;
                padding: 0 24px;
                box-sizing: border-box;
            }
        }
        &__list {
            //margin: 0 0 10px 0;
        }
        &__footer-link {
            margin: 10px 0 10px 14px;
        }
    }
}