.genres-list {
    box-sizing: border-box;
    background-color: $white-background;
    box-shadow: $section-box-shadow;

    &__wrapper {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__control-icon {
        width: 10px;
        height: 6px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("img/svg/arrow-down-default.svg");
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 20px 20px 30px;
        height: auto;

        &:not(:last-child) {
            border-bottom: 1px solid $border-lightest-grey;
        }
        
        &_opened .genres-list {
            &__control:hover .genres-list {
                &__control-text {
                    color: $font-color-grey;
                }
                &__control-icon {
                    filter: brightness(65%);
                }
            }
            &__control-text {
                color: $font-color-grey-light;
            }
            &__control-icon {
                background-image: url("img/svg/arrow-up-default.svg");
            }
            &__subgenres {
                transition: margin-top 150ms ease 0s, max-height 50ms ease 0s;
                margin-top: 15px;
                max-height: 500px;
            }
        }
        &_closed .genres-list {
            &__control:hover .genres-list {
                &__control-text {
                    color: $font-color-green;
                }
                &__control-icon {
                    filter: brightness(90%);
                }
            }
            &__control-text {
                color: $font-color-light-green;
            }
            &__subgenres {
                transition: margin-top 150ms ease 0s, max-height 50ms ease 0s;
                margin-top: 0;
                max-height: 0;
            }
        }
    }
    &__genre {
        width: 55%;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size-little;
        font-weight: $font-weight-regular;
        line-height: $font-line-height-normal;
        color: $font-color-dark;
        overflow: hidden;
    }
    &__control {
        display: flex;
        align-items: center;
        padding: 0;
        font-weight: $font-weight-medium;
        font-size: $font-size-micro;
        line-height: $font-line-height-micro;
        color: $font-color-light-green;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__control-text {
        margin-right: 7px;
    }
    &__subgenres {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        margin-right: -7px;
        margin-bottom: -7px;
    }
    &__subgenres > * {
        margin-right: 7px;
        margin-bottom: 7px;
    }
    &__link {
        padding: 3px 7px;
        box-sizing: border-box;
        font-weight: $font-weight-regular;
        font-size: 13px;
        line-height: 16px;
        color: $font-color-light-green;
        border: 1px solid $border-light-green;
        border-radius: 100px;
        text-decoration: none;
        &:hover {
            color: $font-color-green;
            border: 1px solid $border-green
        }
    }
}

@media #{$max-mobile-width} {}