.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: $section-box-shadow;

    &__title {
        flex-grow: 1;
        margin-bottom: 15px;
        font-weight: $font-weight-semibold;
        font-size: $font-size-medium;
        line-height: $font-line-height-big;
        color: $font-color-dark;
    }
    &__wrapper {
        position: relative;
    }
    &__text {
        margin: 0;
        font-weight: $font-weight-regular;
        font-size: $font-size-little;
        line-height: $font-line-height-normal;
        color: $font-color-dark;
        white-space: pre-line;
        overflow: hidden;
    }
    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67.19%, #FFFFFF 100%);
    }
    &__control {
        padding: 10px 0 0 0;
        font-weight: $font-weight-medium;
        font-size: $font-size-little; 
        line-height: $font-line-height-normal;
        color: $font-color-light-green;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    &_opened .article {
        &__shadow {
            display: none;
        }
        &__text {
            transition: max-height 150ms ease 0s;
            max-height: 2000px;
        }
        &__control {
            color: $font-color-grey-light;
            &:hover {
                color: $font-color-green;
            }
        }
    }
    &_closed .article {
        &__shadow {
            display: block;
        }
        &__text {
            transition: max-height 150ms ease 0s;
            max-height: 108px;
        }
        &__control {
            color: $font-color-light-green;
            &:hover {
                color: $font-color-green;
            }
        }
    }
}

@media #{$max-mobile-width} {
    .article {
        width: auto;
        &__title {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 20px;
        }
        &__text {
            font-size: 14px;
        }
        &__control {
    
        }
    }
}