.albom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 299px;
    box-sizing: border-box;

    &__img-wrapper {
        width: 246px;
        height: 246px;
        border-radius: $border-radius-medium;
        background-color: $white-background;
        background-image: url("img/albom-card/albom-background.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150px;
    }
    &__img {
        display: block;
        width: auto;
        height: auto;
        
    }
    &__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        box-sizing: border-box;
        padding: 20px 0 0 0;
        height: 53px;
    }
    &__info {
        text-align: left;
    }
    &__stat {
        text-align: right;
    }
    &__tracks-amount {}
    &__title {
        font-weight: $font-weight-regular;
        font-size: $font-size-little;
        line-height: $font-line-height-normal;
    }
    &__year {
        font-weight: $font-weight-bold;
        font-size: $font-size-micro;
        line-height: $font-line-height-micro;
        color: $font-color-grey-light;

    }
    &__amount {}
    &__rating {
        justify-content: flex-end;
    }

    &_section {
        flex-direction: row;
        width: 100%;
        height: auto;
        padding-right: 30px; 
        border-radius: $border-radius-medium;
        background-color: $white-background;
        box-shadow: $section-box-shadow;
        overflow: hidden;
    }

    &_section .albom-card {
        &__img-wrapper {
            width: 143px;
            height: 143px;
            border-radius: unset;
        }
        &__img {
            width: auto;
            height: 100%;
        }
        &__description {
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            padding: 0 40px;
            height: auto;
        }
        &__stat {
            margin: 0 0 15px 0;
            text-align: left;
        }
        &__rating {
            justify-content: flex-start;
        }
        &__tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: -3px;
        }
        &__tags > * {
            margin-right: 3px;
            margin-bottom: 3px;

            &:last-child {
                margin-right: 0px;
            }
        }
        &__controls {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }
        &__controls > * {
            margin-right: 12px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }

    &_in-grid {
        margin-right: 24px;
        margin-bottom: 24px;
        &:nth-child(4n + 4) {
            margin-right: 0px;
        }
        &:nth-last-child(-n + 4) {
            margin-bottom: 0px;
        }
    }
}

@media #{$max-mobile-width} {
    .albom-card {
        display: flex;
        flex-direction: row;
        height: 80px;
        width: auto;

        &__img-wrapper {
            width: 80px;
            height: 80px;
            background-size: 56px;
        }
        &__img {}
        &__description {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 0 0 0 20px;
        }
        &__description > * {
            margin-bottom: 7px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        &__info {
            font-size: $font-size-nano;
            line-height: $font-line-height-nano;
        }
        &__stat {
            font-size: $font-size-nano;
            line-height: $font-line-height-nano;
        }
        &__tracks-amount {}
        &__title {}
        &__year {
            font-size: $font-size-nano;
            line-height: $font-line-height-nano;
        }
        &__amount {}
        &__rating {
            justify-content: flex-start;
        }
        &_section {
            align-self: center;
            flex-direction: column;
            height: 369px;
            max-width: 312px;
            padding: 0;
            background: transparent;
        }

        &_section .albom-card {
            &__img-wrapper {
                width: 312px;
                height: 312px;
                background-size: 150px;
                border-radius: $border-radius-medium;
                overflow: hidden;
            }
            &__img {
                height: 312px;
                width: 312px;
            }
            &__description {
                position: absolute;
                justify-content: flex-end;
                width: 100%;
                height: 312px;
                padding: 24px 28px;
                border-radius: $border-radius-medium;
                background: $image-gradient-up;
            }
            &__stat {
                margin:  0 0 11px 0;
            }
            &__tracks-amount {
                margin-bottom: 2px;
            }
            &__controls {
                margin: 21px 0 0 0;
                justify-content: space-between;
            }
            &__tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }

        &_in-grid {
            margin-right: 0px;
            margin-bottom: 20px;
            &:nth-child(4n + 4) {
                margin-right: 0px;
            }
            &:nth-last-child(-n + 4) {
                margin-bottom: 20px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}