.video-player {
    display: flex;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: $border-radius-medium;
    background-color: $white-background;
    box-shadow: $section-box-shadow;
    &__wrapper {
        position: relative;
        margin: 0;
        width: 1056px;
        height: 709px;
        border-radius: $border-radius-medium;
        overflow: hidden;
    }
    &__player {
        width: 1056px;
        height: 709px;
    }
    &__controls {}
    &__button {
        display: block;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        &_play {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: auto;
            transform: translate(-50%, -50%);
        }
        &_play:hover .video-player__icon-inner {
            filter: $svg-fill-second-gradient;
        }
    }
    &__icon {
        display: block;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-image: url("img/svg/play-video-default.svg");
        &:hover {
            background-image: url("img/svg/play-video-hover.svg");
        }
    }
    &__preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media #{$max-mobile-width} {
    .video-player {
        width: auto;
        padding: 24px;

        &__wrapper {
            width: 264px;
            height: 180px;
        }
        &__player {
            width: 264px;
            height: 180px;
        }
        &__icon {
            background-size: 60px 60px;
        }
    }
}
