.tracks-amount {
    font-size: $font-size-micro;
    line-height: 15px;

// без модификатора на темном фоне текст серый
// с модификатором contrast на светлом фоне amount черный

    &_contrast .tracks-amount {
        &__title {
            color: $font-color-grey-light;
        }
        &__amount {
            color: $font-color-dark;
        }
    }

    &__title {
        margin-right: 5px;
        font-weight: $font-weight-medium;
        color: $font-color-grey-light;
        // убрать
        &_dark {
            color: $font-color-grey;
        }
    }
    &__amount {
        font-weight: $font-weight-bold;
        color: $font-color-light;
        // убрать
        &_dark {
            color: $font-color-grey;
        }
    }
}

@media #{$max-mobile-width} {
    .tracks-amount {
    
    // без модификатора на темном фоне текст серый
    // с модификатором contrast на светлом фоне amount черный
    
        &_contrast .tracks-amount {
            &__title {}
            &__amount {
                color: $font-color-light;
            }
        }
    
        &__title {

            &_dark {}
        }
        &__amount {

            &_dark {}
        }
    } 
}